<h1>Editing emprestimo</h1>

<%= render "form", emprestimo: @emprestimo %>

<br>

<div>
  <%= link_to "Show this emprestimo", @emprestimo %> |
  <%= link_to "Back to emprestimos", emprestimos_path %>
</div>
