<div class="container">
<h1>Criar Novo Empréstimo</h1>

<%= render "form", emprestimo: @emprestimo %>

<br>

<div class="mt-3">
  <%= link_to "Voltar para os empréstimos", emprestimos_path, class: "btn btn-secondary" %>
</div>

</div>