<div id="<%= dom_id perfil %>" class="card mb-3 shadow-sm">
  <div class="card-body">
    <h5 class="card-title"><strong><%= perfil.nome %></strong></h5>

    <p class="card-text">
      <strong>Descrição:</strong> <%= perfil.descricao %>
    </p>
  </div>
</div>
