<p style="color: green"><%= notice %></p>

<h1>Perfils</h1>

<div id="perfils">
  <% @perfils.each do |perfil| %>
    <%= render perfil %>
    <p>
      <%= link_to "Show this perfil", perfil %>
    </p>
  <% end %>
</div>

<%= link_to "New perfil", new_perfil_path %>
