<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0">Livros</h1>
  <%= link_to "Novo Livro", new_livro_path, class: "btn btn-primary" %>
</div>

<div id="livros" class="row row-cols-1 row-cols-md-2 g-4">
  <% @livros.each do |livro| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <%= render livro %>
        </div>
        <div class="card-footer bg-transparent border-0">
          <%= link_to "Ver detalhes", livro, class: "btn btn-outline-secondary btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
