<div class="container mt-4">
  <h1 class="mb-4">Novo Livro</h1>

  <div class="card shadow-sm">
    <div class="card-body">
      <%= render "form", livro: @livro %>
    </div>
  </div>

  <div class="mt-4">
    <%= link_to "Voltar para a lista de livros", livros_path, class: "btn btn-secondary" %>
  </div>
</div>
